<hr>
<footer class="container">
	<div class="col-md-4">
		<ul class="nav navbar-nav">
			<li><a class="btn btn-social-icon btn-facebook" href="/">
			<i class="fa fa-facebook"></i></a></li>
			<li><a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a></li>
			<li><a class="btn btn-social-icon btn-youtube"><i class="fa fa-youtube"></i></a></li>
		</ul>
	</div>
	<div class="col-md-4 text-center">
		${i18n('design.develop')}<a href="http://buddhibalthapa.com.np/">&nbsp;${i18n('developer.name')}</a>
	</div>
	<div class="col-md-4">
		<ul class="nav navbar-nav footer-right">
			<li><a href="/about">${i18n("header.about")}</a></li>
		</ul>
	</div>
</footer>

