<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <style>
  body{
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('/assets/images/med9.jpg');
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            padding-top:80px;
  }
  label{
  color:white;
  font-weight:bolder;
  }
  .form-control,.form-control:focus{
  background:transparent;
  color:white;
  }
  ::placeholder {
  color: red;
}
  </style>
</head>
<body>

<div class="container">
  <form action="/login/sale" method="post">
    <div class="form-group">
      <label for="medicine">Medicine Name:</label>
      <input type="text" class="form-control" id="medicine" placeholder="Enter Medicine Name" name="medicine">
    </div>
    <div class="form-group">
      <label for="company">Medicine Company:</label>
      <input type="text" class="form-control" id="company" placeholder="Enter Comapny name" name="company">
    </div>
     <div class="form-group">
      <label for="qty">Quantity:</label>
      <input type="text" class="form-control" id="qty" placeholder="Enter quantity" name="qty">
    </div>
     <div class="form-group">
      <label for="date">Sale Date:</label>
      <input type="date" class="form-control" id="date" placeholder="Enter Sale Date" name="date">
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" placeholder="Enter amount" name="price">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br>
                        <br>
                        <#if (flash.error)??>
            <div class="alert alert-danger" style="color:red">
                ${flash.error}
            </div>
        </#if>
        
        <#if (flash.success)??>
            <div class="alert alert-success">
                ${flash.success}
            </div>
        </#if>
    
  </form>
</div>

</body>
</html>
